<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>MédiLabo Solutions</title>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/medilabo_solution.css}" />
</head>
<body>


<form action="#" th:action="@{'/patients/listPatient'}" method="get">
	<button type="submit">Retour à la liste des patients</button>
</form>

<div style="text-align: right;">
	Vous êtes connecté en tant que : <b><span th:remove="tag" th:text="${username}">nobody</span></b>
</div>

<h1>Médilabo Solutions</h1>

<div>
Voici la fiche du patient : 
<span th:remove="tag" th:if="${modif==null || modif!=patient.id}"> <b>[mode lecture]</b> </span>
<span th:remove="tag" th:unless="${modif==null || modif!=patient.id}"> <b>[mode modification]</b> </span>
</div>

<br/>

<div>
<form action="#" th:action="@{'/patients/modif/'+${patient.id}}" th:object="${patient}" method="post">
<fieldset>
	<table>
		<tr>
			<td>Nom : </td>
			<td><input type="text" th:field="*{lastName}" placeholder="Nom" 
					th:readonly="${modif==null || modif!=patient.id}" th:required="${modif!=null && modif==patient.id}" />
		</tr>
		<tr>
			<td>Prénom : </td>
			<td><input type="text" th:field="*{firstName}" placeholder="Prénom" 
					th:readonly="${modif==null || modif!=patient.id}" th:required="${modif!=null && modif==patient.id}" />
		</tr>
		<tr>
			<td>Date de naissance : </td>
			<td><input type="date" th:id="dateOfBirth" th:name="dateOfBirth" th:value="*{#temporals.format(dateOfBirth, 'yyyy-MM-dd')}"
					th:readonly="${modif==null || modif!=patient.id}" th:required="${modif!=null && modif==patient.id}" />
		</tr>
		<tr>
			<td>Genre : </td>
			<td><select th:field="*{gender}" th:readonly="${modif==null || modif!=patient.id}" th:required="${modif!=null && modif==patient.id}">
							<option value="M"> Homme</option>
							<option value="F"> Femme</option>
				</select></td>
		</tr>
		<tr>
			<td>Adresse : </td>
			<td><input type="text" th:field="*{address}" placeholder="Adresse" th:readonly="${modif==null || modif!=patient.id}" />
		</tr>
		<tr>
			<td>Téléphone : </td>
			<td><input type="text" th:field="*{tel}" placeholder="Téléphone" th:readonly="${modif==null || modif!=patient.id}" />
		</tr>
	</table>
</fieldset>

<div style="text-align:right;">
	<button th:unless="${modif != null && modif == patient.id}"  type="submit" name="modif" 
                    			th:value="${patient.id}">Modifier</button>
    <th:block th:if="${modif != null && modif == patient.id}">
		<button type="submit" name="save" th:value="${patient.id}">Enregistrer les modifications</button> 
		<th:block th:unless=${newPatient}>
        	<button th:unless="${confirm != null && confirm == patient.id}"  type="submit" name="supprimer" 
        			th:value="${patient.id}">Supprimer le patient</button> 
       		<button th:if="${confirm != null && confirm == patient.id}" type="submit" name="confirmSuppr"
       				th:value="${patient.id}">Confirmer la suppression ?</button> 
       	</th:block>
    </th:block>
</div>

</form>
</div>

<th:block th:unless="${newPatient}">
<h3>Notes pour ce patient :</h3>

<table>
	<tr th:each="thisNote,iStat : ${listOfNotes}">
	<form action="#" th:action="@{'/notes/modif/'+${patient.id}}" name="thisNote" method="post">
		<td>
			<input type="hidden" name="id" th:value="${thisNote.id}"/> 
			<input type="hidden" name="patId" th:value="${thisNote.patId}"/> 
			<input type="hidden" name="patient" th:value="${thisNote.patient}"/> 
			<textarea rows="3" cols="50" name="note" th:text="${thisNote.note}"></textarea>
		</td>
		<td> 
			<button type="submit" name="saveNote" th:value="${iStat.index}">Enregistrer les modifications</button>
		</td>
	</form>
	</tr>
	<tr>
		<form action="#" th:action="@{'/notes/add/'+${patient.id}}" th:object="${newNote}" method="post">
		<td>
			<input type="hidden" th:field="*{patId}"/> 
			<input type="hidden" th:field="*{patient}"/> 
			<textarea rows="3" cols="50" th:field="*{note}"></textarea>
		</td>
		<td> 
			<button type="submit">Ajouter nouvelle note</button>
		</td>
		</form>
	</tr>
</table>

<br/>
Niveau de risque estimé : <span th:text="${risque.toHtml()}" th:class="${risque.toString()}" th:title="${'Nombre de termes déclencheurs détectés : '+nbRisk}"></span>.
<br/>
</th:block>

<p>
<form action="#" th:action="@{'/patients/listPatient'}" method="get">
	<button type="submit">Retour à la liste des patients</button>
</form>
</p>

</body>
</html>